@{
    ViewBag.Title = "Index";
}
<div class="container-fluid">
    <div class="row">
        <div class="span6 offset3">
            <h1>Texas Hold-em Poker</h1>
        </div>
    </div>
    <div class="row">
        <div class="span6 offset3">
            <button class="btn btn-primary btn-large" data-toggle="modal" data-target="#JoinTable">Join existing table</button>
            <hr />
            <button class="btn btn-primary btn-large" data-toggle="modal" data-target="#CreateTableModal">Create a new table</button>
        </div>
    </div>
</div>
<div id="CreateTableModal" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Create a new table</h3>
    </div>
    <div class="modal-body">
        <p>To get started type the name of the table below</p>
        <input type="text" id="tableName" class="input-block-level" placeholder="Table name">
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
        <a href="#" class="btn btn-primary" id="createTableButton" data-loading-text="one momment...">Create Table</a>
    </div>
</div>
<div id="JoinTable" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Join existing table</h3>
    </div>
    <div class="modal-body">
        <p>To get started type the table code and player name below</p>
        <input type="text" id="tableCode" class="input-block-level" placeholder="Table code">
        <input type="text" id="playerName" class="input-block-level" placeholder="Player name">
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
        <a href="#" class="btn btn-primary" id="joinTableButton">Join Table</a>
    </div>
</div>

@section scripts {
    <script src="~/Content/js/Home_Index.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            Index.Selectors.CreateTableButton = '#createTableButton';
            Index.Selectors.TableNameInput = '#tableName';
            Index.Selectors.JoinTableButton = '#joinTableButton';
            Index.Selectors.TableCodeInput = '#tableCode';
            Index.Selectors.PlayerNameInput = '#playerName';


            Index.Urls.CreateTable = '@Url.Action("CreateTable", "Engine")';
            Index.Urls.JoinTable = '@Url.Action("JoinTable", "Engine")';
            Index.Urls.TableView = '@Url.Action("TableView", "Engine")';
            Index.Urls.PlayerView = '@Url.Action("PlayerView", "Engine")';

            Index.Init();
        });
    </script>    
}